body {
    background-color: aquamarine;
} 
header, footer, nav, li {
    border-style: groove;
}
li {
    display:inline-flexbox
    padding: 10px;
    margin: 10px 30px;
}
.center {
    text-align: center;
}